body {
    display: block;
    margin: 8px;
}
img {
    width: 100%;
}
.main-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    position: relative;
}
#main {
    display:none;
}

.backBtn, .description {
    display:none;
    padding: 20px 40px;
    background-color: #fff;
    border: 1px solid rgb(109, 109, 109);
    color: rgb(80, 80, 80);
    cursor: pointer;
    margin-left: 50px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}
.description {
    width: 40%;
    margin-right: 50px;
    text-transform: uppercase;
    cursor: default;
    float: right;
    text-align: center;
}
.backBtn:hover {
    background-color: rgb(80, 80, 80);
    color: #fff;
}
/* Pages */
.hide {
 
    display: none;
}
.page, .map {
    width: 100%;
    position: absolute;
    top: 7rem;
}